DATABASE_URL= # e.g. "postgresql://consilium:change-me@localhost:5432/consilium"

BETTER_AUTH_SECRET= # run `openssl rand -base64 32` to generate one
BETTER_AUTH_URL=http://localhost:3000

DISCORD_CLIENT_ID= # create a discord app and get this from the developer portal
DISCORD_CLIENT_SECRET= # create a discord app and get this from the developer portal

POSTGRES_USER=consilium
POSTGRES_PASSWORD= # use this in the db url
POSTGRES_DB=consilium